body {
    background: -webkit-linear-gradient(57deg, rgb(71, 34, 66) 3%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(57deg, rgb(116, 17, 26) 20% , rgb(32, 48, 61) 66%, rgb(90, 43, 61) 80%);
}

.page-wrap {
    position: fixed;
    top: 80px;
    right: 80px;
    left: 80px;
    bottom: 80px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }